<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main-group</key>
	<dict>
		<key>type</key>
		<string>single</string>
		<key>items</key>
		<dict>
			<key>ip-addr</key>
			<dict>
				<key>type</key>
				<string>string</string>
				<key>required</key>
				<string>YES</string>
				<key>default</key>
				<string>3</string>
			</dict>
			<key>remote-addr</key>
			<dict>
				<key>type</key>
				<string>string</string>
				<key>required</key>
				<string>YES</string>
				<key>default</key>
				<string>3</string>
			</dict>
			<key>port</key>
			<dict>
				<key>type</key>
				<string>string</string>
				<key>required</key>
				<string>YES</string>
				<key>default</key>
				<string>3</string>
			</dict>
			<key>username</key>
			<dict>
				<key>type</key>
				<string>string</string>
				<key>required</key>
				<string>YES</string>
				<key>default</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>session-group</key>
	<dict>
		<key>type</key>
		<string>multi</string>
		<key>items</key>
		<dict>
			<key>name</key>
			<string>ip-addr</string>
			<key>type</key>
			<string>string</string>
			<key>required</key>
			<string>YES</string>
			<key>default</key>
			<string>3</string>
		</dict>
	</dict>
</dict>
</plist>
